<nav class="navbar">
  <h2>Student Course Portal</h2>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="/enroll" routerLinkActive="active">Enroll</a></li>
    <li><a routerLink="/enroll-reactive" routerLinkActive="active">Enroll (Reactive)</a></li>
  </ul>
</nav>
